{% from 'templates.html' import field_template_single %}
{% extends 'layout.html' %}
{% block body_block %}
<div class='bg-dark p-5' style="border-radius: 5px;">
	<h4 class='text-white'>{{ title }}</h4>
	<div class="col-6 mt-3">
		<form method="POST">
			{{ form.hidden_tag() }}
			<div class="input-group mb-3">
			  {{ field_template_single(form.email, placeholder=form.email.label.text) }}
			  {{ form.submit(class="btn btn-outline-primary") }}
			</div>
		</form>
	</div>
</div>
{% endblock %}